  <p>
    <%= f.label "Type d'habitation" %>
    <%= f.collection_select :category_id, @categories, :id, :nom %>
  </p>
  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.label :adresse %><br />
    <%= f.text_field :adresse %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :ville %><br />
    <%= f.text_field :ville %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description, :cols => 40, :rows => 10 %>
  </p>
  <p>
    <%= f.label "Photo d'ensemble" %>
    <%= f.file_field :overview %>
  </p>
  <p>
    <%= f.label "Photo du salon" %>
    <%= f.file_field :salon %>
  </p>
  <p>
    <%= f.label "Photo de la salle d'eau" %>
    <%= f.file_field :salle_deau %>
  </p>
  <p>
    <%= f.label "Photo de la Chambre" %>
    <%= f.file_field :chambre %>
  </p>
  <p>
    <%= f.label "Photo de la cuisine" %>
    <%= f.file_field :cuisine %>
  </p>
  <p>
    <%= f.label "Photo de la Terrasse" %>
    <%= f.file_field :terrasse %>
  </p>
  <p>
    <% if !@tarifs.blank? %>
      <% for tarif in @tarifs %>
        <div>
          <%= check_box_tag "house[tarif_ids][]", tarif.id, @house.tarifs.include?(tarif) %> <%= tarif.nom %> <%= number_to_currency(tarif.price, :unit => "€", :format => "%n %u", :separator => ",") %>
        </div>
      <% end %>
    <% else %>
      <div>
        Pensez à enregistrer vos tarifs <%= link_to "Nouveau tarif", new_tarif_path() %>
        Nouveau tarif : <%= text_field_tag :new_tarif_nom %> <%= text_field_tag :new_tarif_price %>
      </div>
    <% end %>
  </p>