<h1>Modifier Fiche Logement</h1>

<% form_for(@house, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => {:f => f} %>
  
  <p>
    <%= f.submit 'Mettre à jour' %>
  </p>
<% end %>

<%= link_to 'Voir', @house %> |
<%= link_to 'Retour', houses_path %>