<h1>Nos Locations</h1>

<div id="offres">
  <!-- TODO : insérer le bloc de promotion -->
</div>

<div id="bienvenue">
  <p>
    
  </p>
</div>

<div id="logements">
  <table>
    <% @houses.in_groups_of(3, false) do |group| %>
      <tr>
        <% group.each do |house| %>
          <td>
            <p>
              <!-- TODO : insérer vignette photo general -->
            </p>
            <p>
              <%=h house.nom %> <br/><%=h house.category.nom %>
              <%= link_to 'Voir Details', house %> 
            </p>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>

<% if logged_in? %>
  <ul id="houses">

    <% @houses.each do |house| %>
      <li id="house_<%= house.id %>" ><%=h house.nom %> <%=h house.adresse %> <%=h house.zip %> <%=h house.ville %> <%=h house.category.nom %><%= link_to 'Show', house %> <%= link_to 'Edit', edit_house_path(house) %> <%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %>
      </li>
    <% end %>

  </ul>
  <%= sortable_element("houses", :url => sort_houses_path) %>
  
  <%= link_to 'Ajouter un Logement', new_house_path %>
<% end %>

