<h1>Listing houses</h1>

<ul id="houses">

  <% @houses.each do |house| %>
    <li id="house_<%= house.id %>" ><%=h house.nom %> <%=h house.adresse %> <%=h house.zip %> <%=h house.ville %> <%=h house.category.nom %><%= link_to 'Show', house %> <%= link_to 'Edit', edit_house_path(house) %> <%= link_to 'Destroy', house, :confirm => 'Are you sure?', :method => :delete %>
    </li>
  <% end %>

</ul>
<%= sortable_element("houses", :url => sort_houses_path) %>

<br />

<%= link_to 'New house', new_house_path %>