<p>
  <b>Nom:</b>
  <%=h @house.nom %>
</p>

<p>
  <b>Adresse:</b>
  <%=h @house.adresse %>
</p>

<p>
  <b>Code Postal:</b>
  <%=h @house.zip %>
</p>

<p>
  <b>Ville:</b>
  <%=h @house.ville %>
</p>

<p>
  <b>Categorie:</b>
  <%=h @house.category.nom %>
</p>

<p>
  Vérifiez que le logement est disponible sur la période que vous souhaitez :
  <% form_remote_tag :url => search_availability_house_path(@house), :update => 'notification' do %>
    Du : <%= select_date Date.today, :order => [:day, :month, :year], :prefix => :date_debut %> Au : <%= select_date Date.today, :order => [:day, :month, :year], :prefix => :date_fin %>
     
    <%= submit_tag "Rechercher" %>
  <% end %>
  
  <div id="notification">
    <%= render :partial => "notification", :locals => { :house => @house, :locations => @locations } %>
  </div>
</p>

<%= link_to 'Modifier', edit_house_path(@house) %> |
<%= link_to 'Retour', houses_path %>