<h1>Modifier l'offre promotionnelle</h1>

<% form_for(@offre_promo) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>
  
  <p>
    <%= f.submit 'Mettre à Jour' %>
  </p>
<% end %>

<%= link_to 'Voir', house_offre_promo(@house, @offre_promo) %> |
<%= link_to 'Retour', house_offre_promos_path(@house) %>