<h1>Modifier une categorie</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.submit 'Mettre à jour' %>
  </p>
<% end %>

<%= link_to 'Voir', @category %> |
<%= link_to 'Retour', categories_path %>