<h1>Listing des categories</h1>

<table>
  <tr>
    <th>Nom</th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%=h category.nom %></td>
    <td><%= link_to 'Voir', category %></td>
    <td><%= link_to 'Modifier', edit_category_path(category) %></td>
    <td><%= link_to 'Supprimer', category, :confirm => 'Etes vous certain ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouvelle categorie', new_category_path %>