<h1>Nouvelle categorie</h1>

<% form_for(@category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nom %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.submit 'Enregsitrer' %>
  </p>
<% end %>

<%= link_to 'Retour', categories_path %>