<h1>Listing des tarifs</h1>

<table>
  <tr>
    <th>Nb de Jours</th>
    <th>Prix</th>
    <th>Nom</th>
  </tr>

<% @tarifs.each do |tarif| %>
  <tr>
    <td><%=h tarif.days_nb %></td>
    <td><%=h tarif.price %></td>
    <td><%=h tarif.nom %></td>
    <td><%= link_to 'Voir', tarif %></td>
    <td><%= link_to 'Modifier', edit_tarif_path(tarif) %></td>
    <td><%= link_to 'Supprimer', tarif, :confirm => 'Etes vous certain ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nouveau tarif', new_tarif_path %>