<h1>Nouveau tarif</h1>

<% form_for(@tarif) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label "Nombre de Jours" %><br />
    <%= f.text_field :days_nb %>
  </p>
  <p>
    <%= f.label "Prix" %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label "Nom" %><br />
    <%= f.text_field :nom %>
  </p>
  <p>
    <%= f.submit 'Enregistrer' %>
  </p>
<% end %>

<%= link_to 'Back', tarifs_path %>