<p>
  <b>Nombre de Jours:</b>
  <%=h @tarif.days_nb %>
</p>

<p>
  <b>Prix:</b>
  <%=h @tarif.price %>
</p>

<p>
  <b>Nom:</b>
  <%=h @tarif.nom %>
</p>


<%= link_to 'Modifier', edit_tarif_path(@tarif) %> |
<%= link_to 'Retour', tarifs_path %>